@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
    *::-webkit-scrollbar {
        width: 0.5rem;
    }
    *::-webkit-scrollbar-track {
        background-color: #1e1e1e;
    }
    *::-webkit-scrollbar-thumb {
        @apply bg-dark-blue-2 rounded-lg border border-solid border-blue-1;
    }

    html {
        background-color: #1e1e1e;
    }

    body {
        background: repeating-linear-gradient(90deg, theme('colors.dark-blue.1') 0px 250px, theme('colors.dark-blue.2') 250px 251px);
    }

    footer {
        border-image: radial-gradient(rgb(20, 62, 68, 1) 0%, rgb(114, 248, 208, 0.59) 20%, rgb(20, 62, 68, 1) 100%) 1;
    }

    details summary::-webkit-details-marker {
        display:none;
    }
}

@layer components {
    .bullet {
        position: relative;
        clip-path: border-box;
    }

    .bullet:before {
        content: '';
        position: absolute;
        top: 0;
        width: 24px;
        height: 3px;
        @apply bg-blue-2;
        box-shadow: 0px 4px 29px 5px theme('colors.blue.1');
        overflow: hidden;
    }

    .quote-divider {
        border-image: linear-gradient(to bottom, theme('colors.blue.2 / 100%'), theme('colors.blue.2 / 0%')) 1;
    }
}

@layer utilities {
    .gradient-text {
        @apply bg-gradient-to-b from-blue-1 to-blue-2 text-transparent bg-clip-text;
    }
}


@media only screen and (max-width: 350px) {
    .quality-image {
        @apply max-w-full !important;
    }
}

#featured-podcast {
    position: relative;
    overflow:hidden;
}
#featured-podcast::before {
    content: '';
    background-image: url('images/waves.webp');
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 50%);
}

.light-effect {
    position: relative;
}
body.light-effect::after {
    width: 550px;
    height: 500px;
    right: -350px;
    top: -300px;
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(114, 248, 207, 0.5) 0%, rgba(41, 171, 226, 0.5) 100%);
    mix-blend-mode: hard-light;
    opacity: 0.3;
    filter: blur(92px);
}
footer .light-effect::before {
    width: 315px;
    height: 315px;
    left: -100px;
    top: -30px;
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(114, 248, 207, 0.5) 0%, rgba(41, 171, 226, 0.5) 100%);
    mix-blend-mode: hard-light;
    opacity: 0.3;
    filter: blur(92px);
}

.corner-light-effect {
    position: relative;
    overflow: hidden;
}
.corner-light-effect::before {
    display: block;
    content: '';
    position: absolute;
    top: -140px;
    left: 10px;
    width: 200px;
    height: 100px;
    border-radius: 100% 80%;
    box-shadow: 0px 0px 80px 5px theme('colors.green.4');
}