@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
    *::-webkit-scrollbar {
        width: 0.5rem;
    }
    *::-webkit-scrollbar-track {
        @apply bg-dark-blue-1;
    }
    *::-webkit-scrollbar-thumb {
        @apply bg-dark-blue-2 rounded-lg border border-solid border-blue-1;
    }

    html {
        background-color: #1e1e1e;
    }

    body {
        background: repeating-linear-gradient(90deg, theme('colors.dark-blue.1') 0px 250px, theme('colors.dark-blue.2') 250px 251px);
    }

    footer {
        border-image: radial-gradient(rgb(20, 62, 68, 1) 0%, rgb(114, 248, 208, 0.59) 20%, rgb(20, 62, 68, 1) 100%) 1;
    }
}

@layer components {
    .gradient-text {
        @apply bg-gradient-to-b from-blue-1 to-blue-2 text-transparent bg-clip-text;
    }
    
    .bullet {
        position: relative;
        clip-path: border-box;
    }

    .bullet:before {
        content: '';
        position: absolute;
        top: 0;
        width: 24px;
        height: 3px;
        @apply bg-blue-2;
        box-shadow: 0px 4px 29px 5px theme('colors.blue.1');
        overflow: hidden;
    }

    .quote-divider {
        border-image: linear-gradient(to bottom, theme('colors.blue.2 / 100%'), theme('colors.blue.2 / 0%')) 1;
    }
}