@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #1e1e1e;
}

footer {
    border-image: radial-gradient(rgb(20, 62, 68, 1) 0%, rgb(114, 248, 208, 0.59) 20%, rgb(20, 62, 68, 1) 100%) 1;
}

footer .light-effect:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 20px 20px 200px 100px #a5f3fc22;
}